.academic-percentages-container {
  margin-left: 52px;
}

.academic-percentage-charts {
  flex: 4;
  display: flex;
}

.academic-percentages-category-titles {
  display: flex;
}

.info-sub-title.career {
  flex: 2
}

.info-sub-title.grad {
  flex: 1
}