@import '../../constants.scss';

.percentage-chart-container {
  flex: 1;
  
  .dot-data-vis {
    position: relative;
    
    width: 80px;
    /* height set and used in JS */
    background-color: #f0f0f0;
  
    .percent-data-point {
      position: absolute;
    
      white-space: nowrap;
      font-size: 16px;
      
      border-radius: 50%;
  
      .percent-data-point-title {
        position: absolute;
        margin-left: 12px;
        margin-top: -5px;
      }
  
      &.Black {
        background-color: $black;
      }
  
      &.White {
        background-color: $white;
      }
  
      &.Hispanic {
        background-color: $hispanic;
      }
  
      &.All.Students {
        background-color: $allstudents;
        font-size: 10px;
      }
    }
  
    .All.Students > .percent-data-point-title {
      position: absolute;
      margin-left: 12px;
      margin-top: -3px;
    }
  }
  
 
}