.percentage-chart-container {
  flex: 1;
}

.dot-data-vis {
  position: relative;

  width: 80px;
  /* height set and used in JS */
  background-color: #f0f0f0;
}

.percent-data-point {
  position: absolute;

  width: 10px;
  height: 10px;
  background-color: mediumvioletred;
  border-radius: 50%;
}

.percent-data-point.Black {
  color: #82d5e5;
  background-color: #82d5e5;
}

.percent-data-point.White {
  color: #b7d5bb;
  background-color: #b7d5bb;
}

.percent-data-point.All.Students {
  color: black;
  background-color: black;
}



.percent-data-point.Hispanic {
  color: #e5d5a4;
  background-color: #e5d5a4;
}