@import url("https://fonts.googleapis.com/css?family=Lato");
.App {
  font-family: 'Lato', sans-serif;
  color: #333333; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

table {
  text-align: left; }

.hidden {
  display: none; }

/*Davids code*/
.body-container {
  display: flex;
  align-items: center;
  flex-direction: column; }
  .body-container .Black, .body-container .black {
    color: #82d5e5; }
  .body-container .White, .body-container .white {
    color: #b7d5bb; }
  .body-container .All.Students, .body-container .all.students {
    color: #676767; }
  .body-container .Hispanic, .body-container .hispanic {
    color: #e5d5a4; }

.info-sections-container {
  max-width: 1000px;
  min-width: 1000px; }

h1, h2, h3 {
  margin: 0; }

.text {
  /*whatever*/ }

.text.bold {
  font-weight: bold; }
