.info-section-title {
  text-align: left;
  font-size: 5.5em;
  font-weight: lighter;
}

.info-sub-title {
  font-size: 2em;
}

.info-section-content-wrapper {
  margin-top: 22px;
  display: flex;
}

.info-sub-container {
  border-top: 2px solid black;
  padding-top: 16px;
  padding-left: 1px;
}